<!DOCTYPE html>
<html>
    <head>
        <title><%-blocks.title %></title>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <% include ../partials/nav %>

        <%-body -%>

        <script src="/jquery/dist/jquery.min.js" charset="utf-8"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
        <script src="/script.js" charset="utf-8"></script>
    </body>
</html>
