<% layout('layouts/default') -%>

<% block('title', 'Edit Note') %>

<section class="container full-height">
    <div class="form-group mb-3">
        <input type="text" name="title" class="form-control" placeholder="Title" value="<%= note.title %>">
    </div>

    <div class="form-group mb-3">
        <input type="text" name="description" class="form-control" placeholder="Description" value="<%= note.description %>">
    </div>

    <div class="form-group full-height">
        <label for="edit-note-input">Edit Note</label>
        <textarea name="content" class="form-control markdown-input full-height" id="edit-note-input" rows="3"><%= note.content %></textarea>
    </div>

    <button id="edit-note" type="submit" class="btn btn-outline-success">Edit Note</button>
</section>
