<% layout('layouts/default') -%>

<% block('title', 'SapioNotes') %>

<div class="container">

    <% include partials/search %>

    <div class="row mb-5">
        <%= results_count %> Total Notes
    </div>

    <div class="row">
        <% include partials/noteCard %>
	</div>
</div>
