<% layout('layouts/default') -%>

<% block('title', 'Edit Note') %>

<section class="container full-height">
    <div class="row full-height">
        <textarea class="col-md-12 full-height markdown-input" placeholder="What's new today..."></textarea>

        <button id="save-note" type="submit" class="btn btn-default">Save Note</button>
    </div>
</section>
