<% layout('layouts/default') -%>

<% block('title', 'Search results') %>

<section class="container">

    <% include partials/search %>

    <% if(q != undefined) { %>
        <div class="row mb-5">
            <strong>Query:</strong> <%= q %> Returned <%= results_count %> results
        </div>
    <% } %>

    <div class="row">
        <% include partials/noteCard %>
	</div>
</section>
